@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Custom selection color */
::-moz-selection {
  color: white;
  background: hsl(130, 30%, 30%);
}
::selection {
  color: white;
  background: hsl(130, 30%, 30%);
}

body,
html {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-weight: normal;
}

.noSelect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide scrollbar */
::-webkit-scrollbar {
  display: none; /* For Chrome, Safari and Opera */
}
html {
  scrollbar-width: none; /* For Firefox */
  -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  body {
    @apply dark:bg-dark-background;
  }
}
